.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.header {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.h1 {
  text-align: center;
}

.between {
  text-align: center;
  font-size: large;
}

.number {
  text-align: center;
  font-size: xx-large;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  text-align: center;
  font-size: large;
}
